<div class="btn-group mb-3">
    <button
      class="btn btn-secondary"
      [class.active]="view === CalendarView.Month"
      (click)="setView(CalendarView.Month)"
    >Mois</button>
    <button
      class="btn btn-secondary"
      [class.active]="view === CalendarView.Week"
      (click)="setView(CalendarView.Week)"
    >Semaine</button>
    <button
      class="btn btn-secondary"
      [class.active]="view === CalendarView.Day"
      (click)="setView(CalendarView.Day)"
    >Jour</button>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-3">
  <button class="btn btn-outline-secondary btn-sm" (click)="previous()">‹</button>
  <h4 class="m-0">{{ viewDate | date:'MMMM yyyy' }}</h4>
  <button class="btn btn-outline-secondary btn-sm" (click)="next()">›</button>
</div>

<ng-container [ngSwitch]="view">
  <mwl-calendar-month-view
    *ngSwitchCase="CalendarView.Month"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
  ></mwl-calendar-month-view>

  
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
    ></mwl-calendar-week-view>
  
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
    ></mwl-calendar-day-view>
  </ng-container>
  